fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pypdf
openai
langchain
langchain-community
langchain-ollama
chromadb
email-validator
